{% extends "organizations/base.html" %}
{% block content %}
<div id="main" role="main">
	{% if orgs %}
		<table id="list" cellspacing="0">
			<thead>
				<tr>
					<th>Organization Name</th>
					<th>Founded Date</th>
					<th>Type</th>
					<th>Staff Size</th>
					<th>Contact Person</th>		
				</tr>
			</thead>
			<tbody>
				{% for org in orgs %}
				<tr>
        	<td><a href="/organizations/{{ org.id }}/">{{ org.name }}</a></td>
					<td>{{ org.founded_date }}</td>
					<td>{{ org.legal_status }}</td>
					<td>{{ org.number_staff }}</td>
					<td><a href="/person/{{ org.contact_person.id }}">{{ org.contact_person.name }}</a></td>
				</tr>
    {% endfor %}
    	</tbody>
		</table>
	{% else %}
		<p>No organizations listed. Would you like to <a href="/admin">add</a> some?</p>
	{% endif %}
</div>
{% endblock %}