{% extends "organizations/base.html" %}
{% block content %}
<div id="main">
	<div id="display">
		<ul>
			<li class="title">Staff Member</li>
			<li>Name: {{ person.name }}</li>
			<li>Organization: {{ person.organization.name }}</li>
			<li>Email: {{ person.email }}</li>
			<li>Phone #: {{ person.phone }}</li>
			<li>Attended Training?: {{ person.attended_trainings }}</li>
			<li>Electoral Experience?: {{ person.electoral_experience }}</li>
			<li>Active Projects: {{ person.active_projects }}</li>
		</ul>
	</div>
</div>
{% endblock %}